/*===== base styles =====*/
*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background-color: var(--theme-color-3);
    color: var(--text-secondary);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--theme-color-3);
}

:root {
    --theme-color-1: #0B0C10;
    --theme-color-2: #1f2833;
    --theme-color-3: #45A29E;
    --text-primary: #66FCF1;
    --text-secondary: #C5C6C7;
    --text-tertiary: #202020;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--theme-color-1);
    font-family: 'Josefin Sans', monospace;
}

/*===== Nav section =====*/
nav {
    width: 100%;
    height: 60px;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo > img{
    width: 50px;
    cursor: pointer;
}

nav > ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 5px 20px 0 0;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: var(--text-primary);
}

.res {
    display: none;
    color: var(--text-primary);
}

/* Media queries for nav section */
@media screen and (max-width: 664px) {
    nav > ul {
        display: none;
    }

    .res {
        display: initial;
    }
}
/*===== End of Nav section =====*/

/*===== Hero section =====*/
.hero {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.box {
    width: 50px;
    height: 50px;
    background-color: var(--theme-color-3);
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.box:nth-child(2) {
    right: 10px;
    bottom: 70px;
}

.box:nth-child(3) {
    right: 70px;
    bottom: 10px;
}

.hero__intro {
    text-align: left;
    position: relative;
    left: 8%;
}

.hero__name {
    font-size: 4.5rem;
    letter-spacing: 0.3rem;
    font-weight: 700;
    margin-bottom: 10px;
    /* anims */
    color: transparent;
    position: relative;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

.hero__title {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
    margin-bottom: 15px;
    /* anims */
    width: fit-content;
    color: transparent;
    position: relative;
    animation: text_reveal2 .5s ease forwards;
    animation-delay: 1.5s;
}

/* anims */
.hero span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--theme-color-3);
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

.hero__intro > a > button {
    text-decoration: none;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: var(--text-tertiary);
    background: var(--theme-color-3);
    transition: all ease-in 0.4s;
    cursor: pointer;
    margin-bottom: 20px
}

.hero__intro > a > button:hover {
    transform: scale(0.98);
    background-color: transparent;
    color: var(--text-secondary);
    border: 1px solid var(--theme-color-3);
}

.hero__skills {
    /* position: absolute; */
    color: var(--text-primary);
    max-width: 500px
}

.hero__skills ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 5px;
}

/* Media queries for hero section */
@media screen and (max-width: 664px) {
    .hero__intro {
        left: 7%;
    }

    .hero__name {
        font-size: 3rem;
        /* Eureka: I cried without this 😭 */
        width: min-content;
    }

    .hero__title {
        font-size: 1.5rem;
    }
}

/* Keyframes for text reveal animation */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: var(--text-primary);
    }
}

@keyframes text_reveal2 {
    100% {
        color: var(--text-secondary);
    }
}
/*===== End of Hero section =====*/

/*===== About me section =====*/
.aboutme {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutme__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    text-align: center;
    border-radius: 10px;
    background: var(--theme-color-2);
    overflow: hidden;
    color: var(--text-secondary);
    padding: 40px 10px 10px 10px;
    /* transform: skewY(0.5deg); */
}

.aboutme__img > img {
    object-fit: contain;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    transition: all ease-in .3s;
}

.aboutme__img > img:hover {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.aboutme__title {
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
    color: var(--text-primary);
    font-family: 'Josefin Sans', monospace;
}


.aboutme__info {
    margin: 30px;
    font-size: 1.05rem;
    font-family: 'Josefin Sans', montserrat;
    line-height: 1.33rem;
}

.aboutme__social {
    margin-top: 20px;
}

.aboutme__social .fa {
    margin: 10px;
    font-size: 1.7rem;
    color: var(--text-primary);
}

/* Media queries for aboutme section */
@media screen and (max-width: 664px) {
    .aboutme {
        height: 450px;
    }

    .aboutme__container {
        flex: none;
        width: 300px;
        padding: 10px;
    }

    .aboutme__img {
        display: none;
    }

    .aboutme__info {
        margin: 15px;
        line-height: 1.15rem;
    }
}
/*===== End of About me section =====*/

/*===== Services section =====*/
.services {
    display: grid;
    align-items: center;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 7rem 9rem;
    gap: 50px
}

.services__single {
    text-align: center;
    color: var(--text-secondary);
}

.services__single i {
    color: var(--theme-color-3);
    font-size: 3rem;
    margin-bottom: 10px;
}

.services__single h3 {
    color: var(--theme-color-3);
    margin-bottom: 10px;
}

@media screen and (max-width: 664px) {
    .services{
        margin: 7rem 1.5rem;
    }
}

/*===== Project section =====*/
.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
}

.projects__header {
    font-size: 2rem;
    text-align: center;
    color: var(--text-primary);
    margin-bottom: 7rem;
    /* padding-top: 3rem; */
}

.backend__projects {
    color: var(--text-secondary);
    margin-bottom: 8rem;
    display: grid;
    place-content: center;
    font-style: 'Josefin Sans', monospace;
}

.backend__projects--header {
    text-align: center;
    margin-bottom: 3rem;
}

.backend__project {
    margin-bottom: 3rem;
}

.backend__project--header {
    color: var(--text-primary);
}

.backend__project--info {}

.backend__project a {
    color: var(--text-primary);
}

.frontend__projects--header {
    text-align: center;
    color: var(--text-secondary);
    margin-bottom: 3rem;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 13rem;
}

.project__img > img{
    object-fit: contain;
    width: 650px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.4s;
}

.project__img > img:hover{
    transform: scale(1.03);
}

.project__info {
    padding: 30px;
    background-color: var(--theme-color-2);
    color: var(--text-secondary);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'montserrat', sans-serif;
}

.project__title {
    font-family: 'Josefin Sans', monospace;
    color: var(--text-primary);
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
}

.project__about {
    margin-bottom: 10px;
}

.project__tech {
    color: rgb(115, 115, 115);
    font-size: 15px;
}

.project__urls {
    margin-top: 10px;
}

.project__urls .fa {
    font-size: 1.2rem;
    margin-right: 5px;
}

.project__urls > a {
    color: var(--text-primary);
    display: inline-block;
}

.project__urls > a:first-child {
    margin-right: 10px;
}

/* Media queries for project section */
@media screen and (max-width: 664px) {
    .projects {
        padding-left: 30px;
        padding-right: 30px;
    }

    .projects__header {
        margin-bottom: 3.5rem;
    }

    .backend__project {
        margin-bottom: 1.5rem;
        /* text-align: center; */
    }

    .project {
        flex-direction: column;
        margin-bottom: 7rem;
    }

    .project__img > img {
        width: 340px;
    }

    .project__info {
        padding: 25px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
    }

    .project__about {
        font-size: 1.03rem
    }
}
/*===== End of Project section =====*/

/*===== Experience section =====*/
.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: var(--text-secondary);
}

.experience > h2 {
    color: var(--text-primary);
    margin-bottom: 3rem;
    font-family: 'Josefin Sans', monospace;
}

.experience__container {
    display: flex;
}

.experience__column {
    padding: 25px;
    width: 30rem;
}

.experience__column:first-child {
    border-right: 1px solid var(--text-primary);
}

.experience__workplace {
    color: var(--text-primary);
}

.experience__column > h2,
.experience__column > h3,
.experience__column > h4,
li {
    margin-bottom: 15px;
}

.experience__column > ul {
    margin-left: 20px;
}


/* Media queries for experience section */
@media screen and (max-width: 664px) {
    .experience__container {
        flex-direction: column;
    }

    .experience__column {
        padding: 20px;
        width: auto;
    }

    .experience__column:first-child {
        border-right: none;
        border-bottom: 1px solid var(--theme-color-3);
    }
}
/*===== End of Experience section =====*/

/*===== Blog posts section =====*/
.blog-posts {
    margin: 150px;
}

.blog-posts > h2 {
    text-align: center;
    color: var(--text-primary);
    margin-bottom: 3rem;
}

.blog-posts__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    place-items: center;
    gap: 50px;
    color: var(--text-secondary);
}

.blog-posts__post {
    /*width: 300px;*/
    /*height: max-content;*/
    border-radius: 10px;
    padding: 20px;
    background: var(--theme-color-2);
    color: var(--text-secondary);
}

.blog-posts__post--title {
    margin-bottom: 15px;
    color: var(--text-primary);
}

.blog-posts__post--brief {
    margin-bottom: 15px;
}

.blog-posts__post--link {
    color: var(--text-primary);
}

/* Media queries for experience section */
@media screen and (max-width: 664px) {
    .blog-posts {
        margin: 20px;
    }
    
    .blog-posts__container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
/*===== End of Blog posts section =====*/

/*===== Contact Me section =====*/
.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__details {
    display: flex;
    flex-direction: column;
    background: var(--theme-color-2);
    padding: 40px;
    color: var(--text-secondary);
    border-radius: 10px;
    font-family: 'Josefin Sans', monospace;
}

.contact__details > p {
    width: 350px;
    text-align: center;
    margin-bottom: 40px;
}

.contact__form > form {
    display: flex;
    flex-direction: column;
}

.contact__form > 
form input,
textarea {
    width: 350px;
    height: 50px;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.37);
    caret-color: var(--theme-color-3);
    color: var(--text-secondary);
    border: none;
    padding: 15px;
    font-size: 1.1rem;
    border-radius: 7px;
}

.contact__form > form input:last-child {
    background-color: var(--theme-color-3);
    color: var(--text-tertiary);
    cursor: pointer;
}

.contact__form > form input:last-child {
    margin-bottom: 0;
}

input:focus,
textarea:focus {
    outline: none;
}

.thank-you-msg {
    background: var(--theme-color-3);
    color: var(--text-tertiary);
    padding: 20px;
}

/* Media queries for experience section */
@media screen and (max-width: 664px) {
    .contact {
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact__details {
        flex-direction: column;
        width: inherit;
        padding: 30px;
    }

    .contact__details > p {
        width: fit-content;
    }

    .contact__form > 
    form input,
    textarea {
        width: 100%;
    }
}
/*===== End of Contact Me section =====*/

/*===== Footer section =====*/
footer {
    width: 100%;
    height: 80px;
    text-align: center;
    margin: auto;
    color: var(--text-secondary);
    font-family: 'Josefin Sans', monospace;
    /* border-top: 1px solid var(--theme-color-3); */
}

footer a {
    background: linear-gradient(to bottom, transparent, var(--theme-color-3));
    color: var(--text-tertiary);
    text-decoration: none;
}

@media screen and (max-width: 664px) {
    footer {
        padding: 10px;
    }
}
/*===== End of Footer section =====*/
